*.sh text eol=lf
*.mk text eol=lf
*.service text eol=lf
*.timer text eol=lf

*.png binary
*.bmp binary
*.gz binary

projects/ROCKNIX/packages/plymouth-lite/splash/*.png binary
projects/ROCKNIX/packages/plymouth-lite/splash/splash.conf text eol=lf
